:root {
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
}

.head-block {
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    padding: 0.9rem 0 0 0;
    width: 100%;
    /* height: 109vh; */
    height: 114rem;
    margin: 0 auto;
}

.header__header-link {
    text-decoration: none;
    color: #1D3178;
    font-size: 1.1rem;
}

.header__header-link:hover {
    color: #717EAB;
}


.header__header-item {
    margin: 0 1.6rem;
}

.header__header-item:first-child {
    margin: 0 3.2rem 0 0;
}

.header__header-item_reg {
    border: 0.1rem solid #D6DDED;
    border-radius: 5rem;
    padding: 0.8rem 1.9rem;
    margin: 0;
}

.header__header-item_reg:active {
    background-color: #eaeef7;
}

.header__header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__header-item_search {
    margin: 0 auto;
    position: relative;
    bottom: 0.4rem;
}

.container_header {
    max-width: 147.5rem;
    margin: 0 auto;
    padding: 0rem 2rem;
}

.container {
    max-width: 106.7rem;
    position: relative;
    margin: 0 auto;
    padding: 0 2rem;
}

.header__logo {
    width: 10.9rem;
    position: relative;
    bottom: 0.3rem;
    right: 1rem;
}

.header__search-area {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 0.1rem solid #D6DDED;
    width: 31.4rem;
    position: relative;
    right: 8.5rem;
    top: 0.2rem;
    font-size: 1rem;
    color: #41558D;
    padding: 0 0 0.5rem 0;
}

.header__search-area:focus {
    border-color: #0E2470;

}

.header__search-area::placeholder {
    font-size: 1rem;
    position: relative;
    color: #41558D;
}

.header__search-button {
    position: relative;
    right: 11rem;
    top: 0.6rem;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 70%;
    background-position: 105% 0%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    outline: none;
    border: none;
}

.header__search-button:hover {
    cursor: pointer;
}

.header__search-area::-webkit-search-decoration,
.header__search-area::-webkit-search-cancel-button,
.header__search-area::-webkit-search-results-button,
.header__search-area::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.head-block__title {
    width: 38rem;
    line-height: 4.3rem;
    color: #0E2470;
    font-size: 3rem;
    margin: 7.2rem 0 0 0;
    display: inline-block;
}

.head-block__subtitle {
    display: inline-block;
    line-height: 1.8rem;
    font-size: 1.4rem;
    max-width: 19rem;
    color: #1D3178;
    margin: 0 0 auto 0;
}

.head-block__info-wrapper {
    margin: 28.2rem 0 0 0;
    display: flex;
    height: 13rem;
    align-items: flex-end;
}

.head-block__arrow {
    position: relative;
    left: 0rem;
    width: 19rem;
    margin: 0 0 2rem 0;
}

.header__header-link_reg:hover {
    color: #1D3178;
}

.header__header-item_reg:hover {
    border-color: #c3c9d4;
    cursor: pointer;
}

.head-block__button {
    border-radius: 3rem;
    background-color: #4B59FF;
    color: #fff;
    padding: 1.9rem 4.4rem;
    text-decoration: none;
    font-size: 1.4rem;
    position: relative;
    margin: 0 0 0 2rem;
}

.head-block__button:hover {
    background-color: #4A68FF;
}

.head-block__button:active {
    background-color: #4661EB;
}

.head-block__cloud {
    background-color: #fff;
    font-size: 1.6rem;
    color: #1D3178;
    padding: 2.2rem 2.5rem 2.2rem 2.5rem;
    border-radius: 1.8rem;
    position: relative;
    left: 32rem;
    bottom: 5.7rem;
    box-shadow: 0px 0px 11px -3px rgba(34, 60, 80, 0.2);
}

.head-block__cloud::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    background-color: #fff;
    border-top: 2rem solid #fff;
    border-right: 2rem solid #F2F7FE;
    top: 6.1rem;
    right: 16rem;
}

.head-description__title {
    margin: 0 0 0 0;
}

.head-block__cloud_second {
    display: none;
    background-color: #fff;
    font-size: 1.6rem;
    color: #1D3178;
    padding: 2.2rem 2.5rem 2.2rem 2.5rem;
    border-radius: 1.8rem;
    position: relative;
    left: 32rem;
    bottom: 5.7rem;
    box-shadow: 0px 0px 11px -3px rgba(34, 60, 80, 0.2);
}

.head-block__cloud_second::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    background-color: #fff;
    border-top: 2rem solid #fff;
    border-right: 2rem solid #F2F7FE;
    top: 6.1rem;
    right: 19rem;
}

.header__form {
    position: relative;
}

.header__search-banner {
    position: absolute;
    top: 3.4rem;
    right: -14rem;
    background-color: #fff;
    padding: 2rem 2rem 0 2rem;
    border-radius: 1.3rem;
    display: none;
    flex-direction: column;
    width: 59rem;
    z-index: 10;
}

.header__search-item {
    display: flex;
    color: #0E2470;
    margin: 1.3rem 0;
}

.header__search-item-section:nth-child(1) {
    width: 17%;
}

.header__search-item-section:nth-child(2) {
    width: 50%;
}

.header__search-item-section:nth-child(3) {
    width: 17%;
}

.header__search-item-section:nth-child(4) {
    width: 17%;
}

.header__search-banner-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #D9DDE8;
    height: 7.5rem;
    margin: 2rem 0 0 0;
    color: #0E2470;
}

.header__search-banner-button {
    color: #4B59FF;
    padding: 1.5rem 2rem;
    background-color: #F2F6FF;
    border-radius: 3rem;
    outline: none;
    border: none;
}

.header__search-banner-button:hover {
    background-color: #f7f9fd;
    cursor: pointer;
}

.header__search-banner-button:active {
    background-color: #dce6fc;
    cursor: pointer;
}

.head-description__title {
    margin: 13rem auto 0 auto;
    text-align: center;
    max-width: 90rem;
    line-height: 3rem;
    font-size: 2.9rem;
    color: #0E2470;
}

.head-description__subtitle {
    margin: 3rem 0 0 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    color: #41558D;
}

.head-block__photo-wrapper {
    display: flex;
    margin: 8.8rem 0 0 0;
    width: 100%;
    justify-content: center;
    padding: 0 0 6.5rem 0;
    border-bottom: 2px solid #D6DDED;
}

.head-block__photo {
    width: 9.5rem;
    margin: 0 0 0 11.5rem;
}

.head-block__photo-info {
    font-size: 1.5rem;
    width: 57rem;
    line-height: 2.3rem;
    padding: 1.6rem 0 0 5.6rem;
    color: #41558D;
}

.head-block__photo-link {
    text-decoration: none;
    color: #4B59FF;
}

.head-block__photo-link:hover {
    cursor: pointer;
}

.description__block {
    display: flex;
    flex-wrap: wrap;
    width: 52rem;
}

.descrition__title {
    font-size: 2.4rem;
    width: 37rem;
    margin: 1.4rem 0 0 3.9rem;
    line-height: 2.8rem;
    color: #0E2470;
}

.container_description {
    display: flex;
    max-width: 112.7rem;
    padding-top: 10rem;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto 0 auto;
}

.descrition__subtitle {
    font-size: 1.4rem;
    line-height: 2.3rem;
    width: 32rem;
    margin: 0 0 0 11.3rem;
    color: #41558D;
}

.descrition__title_two {
    width: 39rem;
    margin: 1.4rem 0 0 3.4rem;
}

.descrition__title_three {
    margin: 1.1rem 0 0 3.9rem;
}

.description__graph {
    width: 42.5rem;
    margin: 12.3rem 0 0 1.7rem;
}

.description__block_two {
    margin: 14rem 4.4rem 0 0;
}

.description__block_three {
    margin: 11.7rem 0 0 0;
}

.descrition__image {
    width: 7.5rem;
    height: 8.4rem;
}

.descrition__image_two {
    width: 8rem;
    height: 7.5rem;
}

.descrition__image_three {
    width: 9.5rem;
}

.description__block_one {
    width: 100%;
}

.descrition__subtitle_three {
    margin: 0 0 0 13.3rem;
    line-height: 2.4rem;
}

.how {
    background-image: url(../images/how_bg.png);
    background-repeat: no-repeat;
    background-position: 50% 135%;
    background-size: 121%;
}

.container_how {
    margin: 29rem auto 0 auto;
    text-align: center;
}

.how__info {
    display: flex;
    justify-content: space-between;
    max-width: 92rem;
    margin: 0 auto;
    align-items: center;
}

.how__block {
    margin: 7rem 0 0 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.how__number {
    font-size: 2rem;
    border-bottom: 2px solid #D6DDED;
    padding: 0 0 1.4rem 0;
    color: #4B59FF;
    position: relative;
}

.how__number_one::before {
    content: "";
    position: absolute;
    top: -0.8rem;
    right: 21rem;
    display: inline-block;
    width: 5rem;
    height: 4rem;
    z-index: -1;
    background-size: 96%;
    background-repeat: no-repeat;
    background-image: url(../images/how1.png);
}

.how__number_two::before {
    content: "";
    position: absolute;
    top: -0.8rem;
    right: 21rem;
    display: inline-block;
    width: 5rem;
    height: 4rem;
    z-index: -1;
    background-size: 96%;
    background-repeat: no-repeat;
    background-image: url(../images/how2.png);
}

.how__number_three::before {
    content: "";
    position: absolute;
    top: -0.8rem;
    right: 21rem;
    display: inline-block;
    width: 5rem;
    height: 4rem;
    z-index: -1;
    background-size: 87%;
    background-repeat: no-repeat;
    background-image: url(../images/how3.png);
}

.how__subtitle {
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin: 1.4rem 0 0 0;
    width: 25rem;
    color: #1D3178;
}

.how__video {
    width: 102rem;
    height: 45rem;
    display: block;
    border-radius: 3rem;
    margin: 5rem auto 0 auto;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.how__arrow {
    border: solid #697EB0;
    border-width: 0 1px 1px 0;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: relative;
    margin: 4rem 0 0 0;
}

.how__arrow::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0.12rem;
    left: 0rem;
    border-bottom: 1px solid #697EB0;
    width: 0.9rem;
    height: 0.1rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.how__title {
    font-size: 2.4rem;
    margin: 0 auto;
    width: 19rem;
    color: #0E2470;
}

.how__button {
    border-radius: 3rem;
    background-color: #4B59FF;
    color: #fff;
    padding: 1.9rem 3rem;
    text-decoration: none;
    font-size: 1.4rem;
    position: relative;
    margin: 5.9rem 0.5rem;
    display: inline-block;
}

.how__button_light {
    color: #4B59FF;
    background-color: #F3F6FF;
}

.how__button:hover {
    background-color: #4A68FF;
}

.how__button_light:hover {
    background-color: #f7f8fc;
}

.how__button:active {
    background-color: #4661EB;
}

.how__button_light:active {
    background-color: #eaedf8;
}

.modal {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    align-items: center;
    background-color: rgba(49, 49, 49, 0.4);
    justify-content: center;
    visibility: hidden;
}

.modal-visible {
    visibility: visible;
}

.modal__info {
    display: flex;
    justify-content: space-between;
    width: 102rem;
    text-align: left;
}

.modal__title {
    color: #0E2470;
    font-size: 3.5rem;
}

.modal__text {
    color: #0E2470;
    font-size: 1.6rem;
    margin: 2.5rem 0 0 0;
    line-height: 2.33rem;
    max-width: 52rem;
}

.modal__content {
    background-color: #fff;
    padding: 6.5rem 6rem 6rem 5.5rem;
    position: relative;
    width: 100%;
}

.modal__photo {
    max-width: 37.4rem;
}

.modal__close {
    position: absolute;
    right: 2.2rem;
    top: 2.5rem;
    width: 3.2rem;
    height: 3.2rem;
    opacity: 1
}

.modal__close:hover {
    opacity: 0.3;
    cursor: pointer;
}

.modal__close:before,
.modal__close:after {
    position: absolute;
    left: 1.5rem;
    content: '';
    height: 2rem;
    width: 0.15rem;
    background-color: #333;
}

.modal__close:before {
    transform: rotate(45deg);
}

.modal__close:after {
    transform: rotate(-45deg);
}

.header__header-item_profile {
    display: none;
}

.head-block__photo-title {
    display: none;
}

.head-decription__rating {
    display: none;
    width: 100%;
    margin: 10rem 0 7rem 0;
}

.how__number_mobile_last {
    display: none;
}

.description__graph_mobile {
    display: none;
}

.how__number_mobile {
    display: none;
}

.how__button_mobile {
    display: none;
}

.container_faq {
    margin: 7rem auto 0 auto;
    max-width: 80.5rem;
}

.faq__title {
    font-size: 2.36rem;
    max-width: 39rem;
    color: #0E2470;
    margin: 0 auto 3rem auto;
}

.faq__acc-head {
    font-size: 1.6rem;
    height: 4rem;
    display: flex;
    align-items: flex-end;
    color: #1D3178;
    justify-content: space-between;
}

.faq__acc-footer {
    height: 2.55rem;
    border-bottom: 2px solid #F0F0F5;
}

.faq__acc-body {
    font-size: 1.4rem;
    line-height: 2.5rem;
    padding: 1.8rem 10rem 0 0;
    height: 12rem;
    display: none;
    color: #41558D;
}

.faq__acc-mark {
    display: inline-block;
    transform: rotate(-45deg);
    border-bottom: 2px solid #1D3178;
    border-left: 2px solid #1D3178;
    width: 0.6rem;
    height: 0.6rem;
    position: relative;
    bottom: 0.6rem;
    right: 1rem;
}

.faq__acc-mark_opened {
    transform: rotate(135deg);
    bottom: 0.2rem;
}






/* adaptive */







@media (max-width: 1200px) {
    .header__search-area {
        width: 21.4rem;
        right: 0;
    }

    .header__search-button {
        right: 2.4rem;
        height: 1.4rem;
        width: 1.2rem;
        background-size: contain;
    }

    .head-block__cloud {
        left: 25rem;
        bottom: 10.7rem;
    }

    .head-block__arrow {
        width: 15rem;
    }

    .descrition__title {
        font-size: 2rem;
    }

    .description__graph {
        width: 32.5rem;
        height: 14rem;
        margin: 11.3rem 0 0 1.7rem;
    }

    .description__block_three {
        margin: 10rem 0 0 0;
    }

    .description__block_two {
        margin: 10rem 0 0 0;
    }

    .how__video {
        width: 85rem;
        height: 43rem;
    }

    .how {
        background-size: 170%;
    }
}

@media (max-width: 992px) {
    .head-block__cloud {
        left: 27%;
        bottom: 4.7rem;
        font-size: 1.2rem;
        padding: 2rem 2.2rem 2rem 2.2rem;
    }

    .head-block__cloud::before {
        top: 5.1rem;
        right: 12rem;
    }

    .head-block__title {
        width: 31rem;
        line-height: 2.8rem;
        font-size: 2.3rem;
        margin: 4.2rem 0 0 0;
    }

    .how__video {
        width: 71rem;
        height: 39rem;
    }

    .head-block__info-wrapper {
        margin: 20.2rem 0 0 0;
    }

    .head-block__button {
        font-size: 1.2rem;
        padding: 1.4rem 4rem;
    }

    .how__subtitle {
        width: 20rem;
    }

    .how__number_one::before {
        right: 16rem;
    }

    .how__number_two::before {
        right: 16rem;
    }

    .how__number_three::before {
        right: 16rem;
    }

    .how {
        background-size: 200%;
    }

    .container_description {
        justify-content: center;
    }

    .description__block_one {
        justify-content: center;
    }

    .header__search-area {
        width: 19.4rem;
    }

    .header__search-button {
        right: 0.6rem;
    }
}

@media (max-width: 768px) {
    .header__header-item {
        display: none;
    }

    .header__header-item_logo,
    .header__header-item_search {
        display: inline-block;
        margin: 0 0 0 auto;
    }

    .header__header-item_profile {
        display: inline-block;
    }

    .header__search-area {
        display: none;
    }

    .header__search-button {
        right: 1.4rem;
        top: 1rem;
        height: 3rem;
        width: 3.8rem;
    }

    .header__profile_icon {
        width: 3rem;
        position: relative;
        top: 0.5rem;
    }

    .how__video {
        width: 60rem;
        height: 33rem;
    }

    .how__info {
        flex-direction: column;
    }

    .how__arrow {
        display: none;
    }

    .head-block__cloud {
        display: none;
    }

    .how__video {
        display: none;
    }

    .head-block__arrow {
        display: none;
    }

    .head-block {
        background-image: url(../images/bg1_mobile.jpg);
    }

    .head-block__title {
        width: 41rem;
        line-height: 5.5rem;
        font-size: 4.3rem;
    }

    .head-block__info-wrapper {
        margin: 4rem 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: 26rem;
    }

    .head-block__subtitle {
        line-height: 2.4rem;
        font-size: 2.2rem;
        max-width: 29rem;
        color: #9DA8C7;
        margin: 6rem 0 4rem 0;
    }

    .head-block__button {
        font-size: 2.2rem;
        padding: 2.4rem 7rem;
        border-radius: 5rem;
        margin: 0 0 1.5rem 0;
    }

    .header__logo {
        width: 20rem;
    }

    .head-description__title {
        margin: 35rem auto 0 0;
        text-align: left;
        max-width: 100%;
        font-size: 5rem;
        line-height: 4.5rem;
    }

    .head-description__subtitle {
        text-align: left;
        font-size: 3.5rem;
    }

    .head-block__photo-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .head-block__photo {
        width: 22.5rem;
        margin: 0;
    }

    .head-block {
        height: auto;
    }

    .head-block__photo-title {
        display: inline-block;
        font-size: 4rem;
        color: #0E2470;
    }

    .head-block__photo-info {
        font-size: 2.5rem;
        line-height: 4rem;
        color: #41558D;
        padding: 0;
        width: 100%;
    }

    .head-block__photo-wrapper {
        height: 58rem;
        justify-content: space-between;
    }

    .descrition__image {
        display: none;
    }

    .descrition__title {
        font-size: 4.1rem;
        width: 100%;
        line-height: 7rem;
        text-align: left;
        margin: 0;
    }

    .head-decription__rating {
        display: inline-block;
    }

    .description__graph {
        display: none;
    }

    .container_description {
        justify-content: left;
    }

    .descrition__subtitle {
        font-size: 3.4rem;
        line-height: 4.8rem;
        width: 100%;
        margin: 0;
    }

    .description__graph_mobile {
        display: inline-block;
        width: 100%;
        margin: 10rem 0 0 0;
    }

    .how__title {
        font-size: 4.4rem;
        margin: 0;
        width: 100%;
        text-align: left;
    }

    .how__number {
        display: none;
    }

    .how__number_mobile,
    .how__number_mobile_last {
        display: inline-block;
        font-size: 3rem;
        color: #4B59FF;
        margin: 0.6rem 2.5rem 0 0;
        position: relative;
    }

    .how__number_mobile:before {
        content: '';
        display: inline-block;
        width: 0.1rem;
        height: 6rem;
        border-left: 0.1rem solid #D6DDED;
        position: absolute;
        top: 5.5rem;
        left: 1.7rem;
    }

    .how__block {
        width: 100%;
        text-align: left;
        flex-direction: row;
    }

    .how__subtitle {
        font-size: 3rem;
        line-height: 4rem;
        margin: 0;
        width: 100%;
    }

    .how {
        background-image: none;
    }

    .how__button {
        border-radius: 7rem;
        padding: 3.9rem 3rem;
        font-size: 3.4rem;
        display: block;
    }

    .how__button_light {
        display: none;
    }

    .how__button_mobile {
        color: #4B59FF;
        background-color: #F3F6FF;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 2rem 0;
    }

    .how__play {
        width: 4rem;
        margin: 0 1rem 0 0;
    }
}

@media (max-width: 576px) {
    .header__logo {
        width: 9.5rem;
    }

    .head-block {
        padding: 1.5rem 0 0 0;
    }

    .head-block__title {
        width: 23rem;
        line-height: 3.55rem;
        font-size: 3rem;
        margin: 3rem 0 0 0;
    }

    .container {
        padding: 0 1.5rem;
    }

    .container_header {
        padding: 0rem 1.5rem;
    }

    .header__profile_icon {
        top: -0.3rem;
        width: 1.8rem;
        left: 0.6rem;
    }

    .header__search-button {
        top: 0.6rem;
        left: 0rem;
        width: 2rem;
    }

    .head-block__subtitle {
        line-height: 2.3rem;
        font-size: 1.6rem;
        max-width: 21rem;
        margin: 0 0 2rem 0;
    }

    .head-block__button {
        font-size: 1.5rem;
        padding: 2.1rem 4rem;
        margin: 0 0 1.2rem 0;
    }

    .head-description__title {
        margin: 2rem auto 0 0;
        font-size: 2.2rem;
        line-height: 2.8rem;
    }

    .head-description__subtitle {
        font-size: 1.66rem;
        margin: 1.1rem 0 0 0;
        line-height: 3rem;
    }

    .head-block__photo {
        width: 12rem;
    }

    .head-block__photo-wrapper {
        margin: 7rem 0 0 0;
        height: auto;
        padding: 0;
        border: none;
    }

    .head-block__photo-title {
        font-size: 1.9rem;
        margin: 2.7rem 0 1rem 0;
    }

    .head-block__photo-info {
        font-size: 1.6rem;
        line-height: 2.78rem;
    }

    .descrition__title {
        font-size: 1.9rem;
        line-height: 2.6rem;
        margin: 4.4rem 0 0 0;
    }

    .head-decription__rating {
        margin: 2rem 0;
    }

    .description__block_two {
        margin: 0;
    }

    .descrition__subtitle {
        font-size: 1.6rem;
        line-height: 2.74rem;
        margin: 0.8rem 0 0 0;
    }

    .description__graph_mobile {
        margin: 6rem 0 0 0;
    }

    .description__block_three {
        margin: 3rem 0 0 0;
    }

    .how__title {
        font-size: 1.85rem;
        margin: 53.9rem 0 0 0;
        width: 100%;
        text-align: left;
    }

    .how__number_mobile,
    .how__number_mobile_last {
        font-size: 1.5rem;
    }

    .how__subtitle {
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    .how__block {
        margin: 2.4rem 0 0 0;
    }

    .how__number_mobile:before {
        height: 2.7rem;
        top: 3.5rem;
        left: 1rem;
    }

    .how__button {
        padding: 2rem 3rem;
        font-size: 1.8rem;
    }

    .how__play {
        width: 2.5rem;
    }

    .how__button {
        top: 0rem;
        margin: 0;
    }

    .how__button_mobile {
        color: #4B59FF;
        background-color: #F3F6FF;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2.6rem 0 1.3rem 0;
        padding: 1.5rem 3rem;
    }
}